* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    border: 1px solid black; 
    background-color: lightgrey; 
    max-width: 300px;
    padding: 5px;
}

img {
    max-width: 290px;
}